/*---------------------------MAPS---------------------*/
.btn--rosabtn {
  background-color: #F7D4BC; }

.btn--violetbtn {
  background-color: #846B8A; }

/*------------------------------MAP GET --------------------------*/
.servicio__uno, .servicio__dos, .servicios__quehacemos__1, .servicio__dos {
  text-align: center; }

.servicios__charla__dos, .servicios__charla, .servicios__charla__dos, .servicios__entrevistas {
  padding: 10px;
  border: solid 2px; }

.servicios__titulo__uno {
  font-weight: bold;
  font-style: italic; }

/*----------------------EXTEND------------------*/
/*-----------------MIXINS--------------------*/
.btn {
  height: 40%;
  width: 15%; }

.navbar {
  text-align: center;
  font-size: 18px; }

.nav-link {
  margin-right: 50px; }

.logo {
  width: 30%;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 2s; }

.logo:hover {
  width: 40%;
  height: 40%; }

.contenedor__titulonos {
  background: rgba(185, 120, 185, 0.678);
  font-family: "Mukta", sans-serif; }
  .contenedor__titulonos .contenedor__titulonos__uno {
    margin-top: 5px;
    text-align: center;
    color: #000000;
    font-family: 'Mukta', sans-serif; }
  .contenedor__titulonos .contenedor__link {
    color: #ad27be; }

.contenedor__parrafonos {
  color: #000000;
  text-align: center;
  font-size: 20px;
  background: rgba(185, 120, 185, 0.678); }
  .contenedor__parrafonos .contenedorparrfonos__parrafo--italic {
    font-style: italic;
    font-size: 18px;
    color: black; }

.contenedornos__fotos {
  display: flex;
  height: 100%;
  background: rgba(185, 120, 185, 0.678); }
  .contenedornos__fotos .contenedornos__fotomaria, .contenedornos__fotos .contenedornos__fotogabriela, .contenedornos__fotos .contenedornos__fotolozano {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
    transition: all 1s; }

.contenedornos__fotomaria:hover, .contenedornos__fotogabriela:hover, .contenedornos__fotolozano:hover {
  width: 51%;
  height: 101%; }

.contenedornos__nombres {
  text-align: center;
  margin: 5px; }
  .contenedornos__nombres .maria, .contenedornos__nombres .lozano, .contenedornos__nombres .mariana {
    border-radius: 10px;
    background: #c28ec2;
    margin: 10px;
    width: 100%; }

.contenedor__parafo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .contenedor__parafo .bio {
    width: 30%;
    margin-left: 10px;
    background: powderblue;
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
    transition: 1s all; }
    .contenedor__parafo .bio:hover {
      background: #c28ec2; }

/*---------------------------------TABLET*-------------------*/
@media screen and (max-width: 768px) {
  /*Pagina index*/
  .carousel-inner .carousel-item img {
    height: 300px; }
  .titulo__carousel {
    padding-bottom: 100px;
    padding-top: 100px;
    font-size: 20px; }
  .contenedor__biocontenido .bio__parrafo {
    font-size: 15px; }
  /*Biografia*/
  .contenedor__biosub .bio__frase {
    text-align: right; }
  .carousel .carousel-inner {
    height: 80%; }
    .carousel .carousel-inner .carousel-item .fraseimg {
      padding-right: 90px; }
  .carousel-caption .btn-light {
    width: 20%;
    font-size: 15px; }
  .contenedor__informacion .moreinfo {
    text-align: center;
    font-size: 12px;
    padding: 5px; }
  /*Pagina  talleres*/
  .contenedor__imagenes .esi, .contenedor__imagenes .salud, .contenedor__imagenes .puzzleblue, .contenedor__imagenes .salud, .contenedor__imagenes .puzzleblue {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 15%; }
  .contenedor__talleres .contenedor__texto {
    border: solid 1px skyblue; }
    .contenedor__talleres .contenedor__texto .taller__title {
      font-size: 35px; }
    .contenedor__talleres .contenedor__texto .taller__sub {
      font-size: 22px; }
    .contenedor__talleres .contenedor__texto .taller__par {
      font-size: 15px; } }

/*-----------------------------MOBILE-------------------------*/
@media screen and (max-width: 480px) {
  /*Pagina INICIO*/
  /*Logo*/
  .logo {
    width: 25%;
    margin-left: 125px; }
  /*Carousel*/
  .carousel-item {
    height: 350px; }
    .carousel-item .w-100 {
      height: 100px;
      width: 300px;
      padding-bottom: 200px; }
  .carousel-caption .titulo__carousel {
    padding-bottom: 48px;
    padding-top: 80px;
    font-size: 35px; }
  .carousel-caption .btn-light {
    width: 30%;
    font-size: 10px; }
  /*Parrafo*/
  .contenedor__titulo__2 .contenedor__titulo__2--white {
    font-size: 20px; }
  /*Button puzzle*/
  .contenedor__icon .icon {
    width: 80%;
    height: 50%; }
  .icon {
    width: 100%; }
  /*Biografia*/
  .contenedor__bio .bio__titulo {
    margin-left: 10px;
    font-size: 30px; }
  .contenedor__biosub .bio__sub {
    text-align: center;
    font-size: 20px; }
  .contenedor__biosub .bio__frase {
    display: none; }
  .contenedor__biocontenido .bio__parrafo {
    font-size: 15px; }
  .contenedor__biocontenido .bio__imagen {
    display: none; }
  .contenedor__biocontenido .carousel .carousel-inner {
    display: none; }
  /*MAS INFORMACION button*/
  .contenedor__informacion .moreinfo {
    font-size: 10px;
    width: 20%;
    padding: 10px; }
  /*FIN DE PAGINA INICIO*/
  /*Pagina Nosotras*/
  .contenedornos__nombres {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px;
    width: 50%;
    height: 50%; }
  .contenedor__parafo .bio {
    margin-left: 0px;
    text-align: justify;
    font-size: 15px;
    width: 120%; }
  .contenedor__icon {
    display: none; }
  /*Pagina Contacto*/
  .fondo__form .texto__formulario {
    font-size: 30px;
    width: 90%;
    margin-top: 10px; }
  .fondo__form .formulario {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .form__boton {
    width: 30%; }
  /*Pagina Servicios */
  .servicios__titulo {
    font-size: 30px; }
  .servicios__titulo__contenido, .servicios__titulo__video {
    font-size: 20px; }
  div .servicios__charla, div .servicios__charla__dos, div .servicios__entrevistas {
    font-size: 15px; }
  .video {
    width: auto; }
  /*Pagina Talleres*/
  .moreinfo {
    font-size: 10px; }
  .contenedor__talleres {
    height: 20%;
    padding: 5px; }
    .contenedor__talleres .contenedor__texto {
      background: #ecb7ec;
      margin-bottom: 10px;
      border: solid 2px skyblue; }
      .contenedor__talleres .contenedor__texto .taller__title {
        font-size: 30px; }
      .contenedor__talleres .contenedor__texto .taller__sub {
        font-size: 20px; }
      .contenedor__talleres .contenedor__texto .taller__par {
        font-size: 13px;
        margin-bottom: 20px; }
  .contenedor__imagenes .esi, .contenedor__imagenes .salud, .contenedor__imagenes .puzzleblue, .contenedor__imagenes .salud, .contenedor__imagenes .puzzleblue {
    display: none; }
  /*FOOTER*/
  /*Links utiles*/
  .footer__lista1 {
    margin-right: 20px; }
  /*Logos*/
  .lista__logos .footer__logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start; }
    .lista__logos .footer__logos .linklogos {
      margin-right: 10px; }
  .lista__logos .footer__tiulo__logos {
    text-align: center;
    margin: 5px;
    font-size: 18px; }
  /*Terminos y condiciones*/
  .footer__lista2 li {
    text-align: center; }
  .lista__taller, .lista__logos, .lista__derechos {
    border-top: solid 2px white; }
  .lista__derechos .footer__lista2 {
    font-size: 13px;
    margin-right: 20px; } }

.fondo__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url(../multimedia/psicologiaimg.jpg);
  background-size: cover; }

.formulario__titulo {
  color: white;
  text-align: center; }

.texto__formulario {
  font-size: 40px;
  padding-top: 50px;
  margin-top: 100px;
  margin-left: 30px;
  color: white;
  font-weight: bold;
  width: 40%; }

.formulario {
  background: rgba(172, 92, 172, 0.774);
  border-radius: 1em;
  margin: 30px;
  margin-left: auto;
  margin-right: 30px;
  width: 50%; }
  .formulario form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px; }
    .formulario form .formulario__nombre, .formulario form .formulario__apel, .formulario form .formulario__mail, .formulario form .formulario__cel, .formulario form .formulario__mensaje, .formulario form .form__boton {
      margin: 20px; }
    .formulario form .form__boton {
      margin-left: auto;
      margin-right: auto;
      width: 30%;
      padding: 5px; }

.servicios__titulo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #2a0d6e;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: solid  3px #c24772; }

.servicios__titulo__contenido, .servicios__titulo__video {
  margin-top: 10px;
  text-align: center;
  font-weight: bold; }

.servicios__charla, .servicios__charla__dos, .servicios__entrevistas {
  border: solid 2px #CFA5B4;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 40%;
  height: 100%;
  font-size: 20px;
  border-radius: 10px;
  background: #eccef1bb; }
  .servicios__charla:hover, .servicios__charla__dos:hover, .servicios__entrevistas:hover {
    color: #8d253f; }

.servicios__titulo__video {
  margin-bottom: 20px; }

.contenedor__video {
  vertical-align: middle; }
  .contenedor__video .video {
    background: #CFA5B4;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px #C98BB9;
    margin-bottom: 30px; }

.btn, .moreinfo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px; }

.contenedor__talleres {
  border: solid 2px skyblue; }
  .contenedor__talleres .taller__title {
    text-align: center;
    margin-top: 30px;
    font-size: 50px; }
  .contenedor__talleres .taller__sub {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px; }
  .contenedor__talleres .taller__par {
    text-align: justify;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 15%; }

.contenedor__imagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.contenedor__imagenes .esi, .contenedor__imagenes .salud, .contenedor__imagenes .puzzleblue {
  margin-left: 50px;
  margin-right: 70px;
  margin-top: 10px;
  margin-bottom: 20px; }

.salud {
  margin-top: 20px;
  margin-bottom: 20px; }

.puzzleblue {
  margin-top: 15px;
  margin-bottom: 15px; }

.esi, .salud, .puzzleblue, .salud, .puzzleblue {
  width: 20%;
  height: 15%;
  transition: all 1s; }

.esi:hover, .salud:hover, .puzzleblue:hover {
  width: 21%;
  height: 18%; }

footer {
  background: #dddddd; }

/*Links utiles*/
.lista__links .footer__links {
  margin-left: 30px; }

.footer__lista1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none; }
  .footer__lista1 li {
    text-align: center;
    padding-top: 10px;
    list-style: none;
    color: #5c5a5a;
    font-weight: bold;
    font-size: 16px; }
  .footer__lista1 .footerlink {
    padding: 3px;
    margin: 2px;
    text-decoration: none;
    color: #5c5a5a;
    font-weight: bold; }
    .footer__lista1 .footerlink:hover {
      color: purple; }

/*Logos*/
.footer__titulo__logos, .lista__links .footer__links {
  text-decoration: underline;
  text-align: center;
  color: #5c5a5a;
  margin-top: 20px;
  padding-top: 10px;
  margin-left: 25px;
  font-weight: bold; }

.footer__logos .linklogos {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.footer__logos .icono__footer {
  margin-top: 6px;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 5px; }

.footer__logos .iglogo, .footer__logos .fblogo, .footer__logos .twlogo {
  color: black; }
  .footer__logos .iglogo:hover, .footer__logos .fblogo:hover, .footer__logos .twlogo:hover {
    color: purple; }

/*Terminos y condiciones*/
.footer__lista2 {
  list-style: none;
  text-align: center;
  color: #5c5a5a;
  margin-top: 20px;
  padding-top: 10px; }

.inicio__footer {
  color: #5c5a5a; }
  .inicio__footer:hover {
    color: purple; }

* {
  font-family: "Mukta", sans-serif; }

/*-------------------Pagina Inicio ------------*/
/*-------------------BODY------------------*/
/*-Carousel-*/
.titulo__carousel {
  padding-bottom: 150px;
  font-size: 65px;
  color: rgba(255, 255, 255, 0.993);
  font-style: oblique;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  animation-duration: 3s;
  animation-name: fadeIn; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.carousel {
  padding: 0px; }
  .carousel .carousel-inner .carousel-item img {
    height: 550px; }
  .carousel .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 10px;
    left: 12%;
    z-index: 10;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #fff;
    text-align: center; }

/*-Boton Ver mas -*/
.btn-light {
  position: relative;
  vertical-align: top;
  right: 50%;
  bottom: 20px;
  left: 2%;
  font-size: 20px;
  width: 15%;
  padding: 10px;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

/*-Frase-*/
.contenedor__titulo__2--white {
  margin-top: 30px;
  margin-bottom: 20px;
  color: black;
  text-align: center;
  animation-duration: 3s;
  animation-name: bounce;
  font-size: 25px; }

/*-Icono puzzle-*/
.contenedor__icon .icon {
  height: 100%;
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--Biografia Pichon Riviere--*/
.bio__titulo, .bio__frase {
  padding: 10px; }

.bio__titulo {
  text-shadow: 1px 2px 2px black;
  text-align: center;
  color: gray;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 40px; }

.bio__sub {
  padding: 10px;
  text-align: center; }

.bio__sub, .bio__frase {
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold; }

.bio__frase {
  padding-right: 70px;
  text-align: center; }

.contenedor__biosub, .contenedor__biocontenido {
  background-color: rgba(90, 90, 90, 0.596); }

.bio__imagen {
  width: 20%;
  height: 70%;
  margin-left: 40px;
  padding-bottom: 25px; }

.bio__parrafo {
  text-align: left;
  font-size: 20px; }

/*Icono puzzle*/
.contenedor__icon .icon {
  height: 100%;
  width: 10%; }

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*Carousel biografia */
.contenedor__frase .carousel-inner .carousel-item .fraseimg {
  height: 300px;
  width: 280px;
  padding-bottom: 20px;
  padding-left: 30px;
  margin-left: 65px;
  margin-right: auto; }

/*Boton Mas informacion*/
.btn-outline-secondary {
  padding: 15px;
  margin-bottom: 50px; }
