* {
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}
body {
    background-image: url(../multimedia/psicologiaimg.jpg);
    background-size: cover;
    font-family: 'Mukta', sans-serif;
}
/*---------------------------- Menu de navegacion ------------------------*/
/*nav {
    grid-area:nav;
}*/
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    list-style: none;
    background:radial-gradient(circle, rgba(154, 105, 172, 0.644) 25%, rgba(121, 40, 187, 0.747) 100%);
}
nav a {
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    color: #f5f5f5;
    text-align: center;
    border-left: solid 3px purple;
}
a:hover {
    background-image: linear-gradient(to bottom right, rgba(221, 218, 218, 0.384),rgba(221, 218, 218, 0.384));
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
.nav__logo {
    width: 20%;
    height: 20%;
}
.nav__parrafo {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
/*---------------------------------------BODY----------------------------------*/
/*----------------------------------Pagina Inicio--------------------*/
.contenedor__titulo__1{
    animation-duration: 3s;
    animation-name: bounce;
    text-align: center;
    font-size: 70px; 
    color: white;
    padding: 10px;
    
}
@keyframes bounce {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.contenedor__titulo__2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    .contenedor__titulo__2--white {
        padding: 10px;
        margin-left: 10px;
        margin-bottom: 80px;
        width: 80%;
        height: 30%;
        color: white;
        text-align: center;
        animation-duration: 3s;
        animation-name: bounce;
        font-size: 25px;
}
.titulos__contenido {
    margin: 20px 20px;
    color: white;
    text-decoration: underline;
    text-align: center;
    animation-duration: 3s;
    animation-name: bounce;
}
.contenido__videoparrafo {
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
}
.video {
    margin-right: 30px;
}
.parrafo {
    font-size: 20px;
    animation-duration: 3s;
    animation-name: bounce;
    background-color: rgba(203, 182, 223, 0.637);
    padding: 30px;
    transition: padding, 2s;
        transition: height, 3s;
        border-left: solid 5px white;
}
.parrafo:hover {
    padding: 10px;
        height: 300px;
}

    
    /*--------------------------------- PÁGINA Nosotras----------------------*/
    /*--------------------------------Contenido Nosotras----------------------*/
    .contenedor__titulonos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        grid-area: titulonos;
    }
    .contenedor__titulonos__uno{
        color:white;
    }
    .contenedor__link {
        color:rgb(153, 204, 224)
    }
    .contenedor__parrafonos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        text-align: center;
        font-size: 20px;
        padding: 5px;
        grid-area: parrafo;
        width: 100%;
    }
    .contenedorparrfonos__parrafo--italic {
        font-style: italic;
        font-size: 18px;
        color: white;
    }
    .contenedornos__fotos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        grid-area: fotos;
        
        
    }
    .contenedornos__fotomaria {
    width: 16%;
    height: 80%;
    }
    .contenedornos__fotolozano {
    width: 18%;
    height: 80%;
    }
    .contenedornos__fotogabriela {
        margin-top: 10px;
        width: 16%;
        height: 80%;
    }
    .contenedornos__nombres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        padding: 20px;
        grid-area: name;
        transition: padding, 2s;
        transition: height, 3s;
    }
    .contenedornos__nombres:hover {
        padding: 5px;
        height: 150px;
    }
    .maria {
        background: rgb(194, 142, 194);
    }
    .maria:hover {
        background: powderblue;
    }

    .lozano {
        background: rgb(194, 142, 194);
    }
    .lozano:hover {
        background: powderblue;
    }
    .mariana {    
        background: rgb(194, 142, 194);
    }
    .mariana:hover {
        background: powderblue;
    }
    /*-------------------------------PAGINA Contacto--------------------------*/
    .contenedor__contacto__uno{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: solid 2px white;
        background-color: rgba(149, 35, 175, 0.486);
        color: white;
        font-size: 30px;
        height: 40%;
        width: 100%;
        text-align: center;
        padding: 2px;
        margin-top: 35px;
    }
    .contenedor__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        padding: 20px 10px;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(172, 32, 172, 0.507);
        padding: 20px;
        text-align: center;
        margin-top: 200px;
        margin-bottom: 50px;
        color: white;
        width: 100%;
    }
    .form__terminos {
        font-size: 13px;
    }
    .form__boton {
        width: 13%;
        height: 10%;
    }

/*------------------------------------Pagina Servicios---------------------------*/
.servicios__titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100%;
}
.servicios__titulo__uno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: azure;
    text-decoration: underline;
    font-size: 45px;
}
.lista__servicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 40px;

}
.lista__servicio__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 80%;
    margin-top: 180px;
}

.itemlist {
background-color:rgba(28, 145, 180, 0.651);
color: white;
border: solid 2px white;
list-style-type: none;
font-size: 20px;
text-align: center;
font-weight: bold;
padding: 10px;
width: 100%;
margin: 30px;
transition: height, 2s;
}
.itemlist:hover {
    background-image: linear-gradient(to bottom right, rgb(62, 146, 179), rgb(147, 173, 184));
    height: 150px;
    width: 1000px;
} 
.informacion {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    height: 450px;
}
.informacion__mas{
    align-self: center;
    color: rgb(24, 24, 24);
    background-color: rgb(255, 255, 255);
    font-family:'Mukta', sans-serif;
}
/*----------------------------------Pagina Talleres--------------------*/
.contenedorlista__taller {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
    color: white;
    list-style: none;

}
li img{
    width: 100%;
    height: 15%;
}
.esi__list {
    width: 50%;
    height: 20%;
    display: inline;
    position: relative;
    bottom: 100px;
    left: 100px;
    font-size: 60px;
}
.salud {
    width: 100%;
    height: 100px;
    display: inline;
    position: relative;
    bottom: 30px;
}
.salud__list {
    width: 50%;
    height: 20%;
    display: inline;
    position: relative;
    bottom: 120px;
    left: 100px;
    font-size: 40px;
}
.puzzle__list {
    width: 50%;
    height: 20%;
    display: inline;
    position: relative;
    bottom: 100px;
    left: 400px;
    font-size: 40px;
}
/*---------------------------------------FOOTER----------------------------*/
    footer {
    background: rgba(155, 214, 238, 0.445);
    grid-area: footer;
    height: 85%;
    }
.footer__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: space-around;
    list-style-type: none;
    margin: 5px;
    color: rgb(255, 255, 255);
}
.insta {
    text-decoration: none;
    color: rgb(34, 0, 97);
}
    /* -----------------------------------RESPONSIVE INICIO ---------------------*/
    /*-------------------------------------MOVIL-------------------------------*/
    @media screen and (max-width: 480px) {
        .contenedor {
            grid-template-columns: 1fr;
            grid-template-rows: 30px 60px 60px 100px 50px;
            grid-area: 
            "nav"
            "titulo"
            "parrafo"
            "none"
            "footer"
            ;
            grid-row-gap: 5px;
            
        }
        nav  ul{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: flex-start;
            font-size: 5px;
        }
        .nav__parrafo {
            font-size: 0px;
        }
        .contenedor__titulo {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        h1 {
            flex-direction: column;
            align-self: center;
            font-size: 40px;
            margin-top: 80px;
        }
        .contenedor__titulo__dos {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            height: 50%;
        }
        .contenedor__titulo__dos--white {
            font-size: 15px;
            text-align: center;
            justify-content: center;
            flex-wrap: wrap;
            padding:5px;
        }
        .footer__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items:flex-start;
            justify-content: space-around;
            list-style-type: none;
            color: rgb(255, 255, 255);
            font-size: 12px;
            padding: 5px 5px;
        }
        }
        /*--------------------------------------TABLET----------------------------
        @media screen and (max-width: 768px) {
            .contenedor {
                grid-template-columns: 1fr;
                grid-template-rows: 80px 80px 200px 80px 40px;
                grid-area: 
                "nav"
                "titulo"
                "parrafo"
                "none"
                "footer"
                ;
                grid-row-gap: 5px;
                
            }
            .nav__logo {
                width: 20%;
                height: 20%;
            }
            .contenedor__titulo {
                font-size: 30px;
            }
            .contenedor__titulo__dos {
                font-size: 15px;
                height: 50%;
            }
        }
/*---------------------------------RESPOSIVE NOSOTRAS ----------------------------*/
    /*-------------------------------------MOVIL-------------------------------*/
    @media screen and (max-width: 480px) {
        .contenedornos {
            grid-template-columns: 1fr;
            grid-template-rows: 80px 160px 180px 150px 120px 70px;
            grid-area: 
            "nav"
            "titulonos"
            "parrafo"
            "fotos"
            "name"
            "footer"
            ;
            grid-row-gap: 5px;   
        }
        .contenedor__titulonos__uno {
            font-size: 24px;
        }
        .contenedor__titulonos {
            display: flex;
            flex-direction: flex-start;
            margin-top: 25px;
            margin-bottom: 20px;
        }
        .contenedor__parrafo {
            font-size: 15px;
            margin-top: 20px;
        }
        .contenedor__parrafonos {
            font-size: 10px;
        }
        .contenedorparrfonos__parrafo--italic {
            font-size: 15px;
            height: 20%;
        }
        .contenedornos__fotos {
            margin-top: 80px;
            height: 60%;
        }
    }
    /*--------------------------------------TABLET------------------------------*/
    @media screen and (max-width: 768px) {
        .contenedornos {
            grid-template-columns: 1fr;
            grid-template-rows: 80px 300px 300px 150px 120px 40px;
            grid-area: 
            "nav"
            "titulonos"
            "parrafo"
            "fotos"
            "name"
            "footer"
            ;
            grid-row-gap: 5px;   
        }
        .contenedornos__fotos {
            margin-top: 80px;
        }
        .footer__list {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items:center;
            justify-content: space-around;
            list-style-type: none;
            color: rgb(255, 255, 255);
            font-size: 13px;
            padding: 3px 5px;
        }
    }
    /*--------------------------------GRILLA index---------------------------------
.contenedor (el body en HTML era el contenedor) {
    display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: 60px 100px 250px 200px 40px;
            grid-template-areas:
                "nav"
                "titulo"
                "parrafo"
                "none"
                "footer"
            ;
            grid-row-gap: 10px;
}
/*---------------------------------GRILLA Nosotras-------------------------*/
.contenedornos {
    display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: 80px 100px 150px 250px 100px 40px;
            grid-template-areas:
                "nav"
                "titulonos"
                "parrafo"
                "fotos"
                "name "
                "footer"
            ;
            grid-row-gap: 10px;
            background-image: url(../multimedia/psicologiaimg.jpg);
}