* {
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

/*---------------------------- Menu de navegacion ------------------------*/
.navbar a {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 18px;
    color: #f5f5f5;
}
a:hover {
    background-image: linear-gradient(to bottom right, rgba(221, 218, 218, 0.384),rgba(221, 218, 218, 0.384));
}
.nav__logo {
    width:10%;
    height: 5%;
    margin: 0 auto;
}
.titulo__carousel {
    padding-bottom: 200px;
    font-size: 65px;
    color: rgba(255, 255, 255, 0.993);
    font-style: oblique;
    font-weight: bold;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    animation-duration: 3s;
    animation-name: bounce;
}
.carousel__nos {
    display: block;
    left: 250px;
}
.carousel__ser {
    display: block;
    left: 250px;
}

/*---------------------------------------BODY----------------------------------*/
/*----------------------------------Pagina Inicio--------------------*/
@keyframes bounce {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.carousel-inner .carousel-item img {
    height:550px;
}
    .contenedor__titulo__2--white {
        margin-top: 30px;
        margin-bottom: 20px;
        color: rgb(0, 0, 0);
        text-align: center;
        animation-duration: 3s;
        animation-name: bounce;
        font-size: 25px;
}
.contenedor__biocontenido, .contenedor__bio {
    animation-duration: 3s;
    animation-name: bounce;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.bio__titulo, .bio__sub, .bio__frase {
    padding: 10px;
}
.bio__titulo {
    color: gray;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
}
.bio__sub, .bio__frase {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}
.bio__frase {
    text-align: center;
}

.contenedor__biosub, .contenedor__biocontenido {
    background-color: rgba(90, 90, 90, 0.596);
}
.bio__imagen {
    width: 20%;
    height: 100%;
}
.bio__parrafo {
    text-align: left;
    font-size: 20px;
    }
.contenedor__icon .icon {
        height: 100%;
        width: 10%;
    }
    .icon {
        display: block;
  margin-left: auto;
  margin-right: auto;
    }

.contenedor__frase .contenedor__frase__img #fraseimg {
    height: 300px;
    width: 300px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin-left: 60px;
}
.contenedor__informacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.moreinfo {
    text-decoration: none;
    text-align: center;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 20%;
    height: 10%;
}
    
    /*--------------------------------- PÁGINA Nosotras----------------------*/
    /*--------------------------------Contenido Nosotras----------------------*/
    .contenedor__titulonos {
        background: rgba(185, 120, 185, 0.678);
    }
    .contenedor__titulonos__uno{
        color:black;
    }
    .contenedor__link {
        color:rgb(173, 39, 190)
    }
    .contenedor__parrafonos {
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 20px;
        background: rgba(185, 120, 185, 0.678);
    }
    .contenedorparrfonos__parrafo--italic {
        font-style: italic;
        font-size: 18px;
        color: rgb(0, 0, 0);
        
    }
    .contenedornos__fotos {
        width: 101,99%;
        height: 100%;
        background: rgba(185, 120, 185, 0.678);
        
    }
    .contenedornos__fotomaria, .contenedornos__fotogabriela, .contenedornos__fotolozano {
    width: 60%;
    height: 100%;
    } 
    .contenedornos__nombres{
        transition: height , 3s;
    }
    .contenedornos__nombres:hover {
        background: skyblue;
        height: 100px;
    }
    .maria:hover {
        background: powderblue;
    }
    .lozano:hover {
        background: powderblue;
    }
    .mariana:hover {
        background: powderblue;
    }
    .maria, .lozano, .mariana {
        background: rgb(194, 142, 194);
        margin:10px;
        width: 100%;
    }

    /*-------------------------------PAGINA Contacto--------------------------*/
    .contenedor__contacto__uno{
        border-bottom: solid 2px white;
        background-color: rgba(149, 35, 175, 0.486);
        color: white;
        font-size: 30px;
        height: 100%;
        text-align: center;
        padding: 2px;
        animation-duration: 3s;
        animation-name: bounce;
    }
    .formulario {
        background-color: rgba(172, 32, 172, 0.507);
        padding: 10px;
        text-align: center;
        color: white;
    }
    .form__terminos {
        font-size: 13px;
    }
    .form__boton {
        width: 10%;
        height: 100%;
    }

    input {
        margin: 5px;
    }

/*------------------------------------Pagina Servicios---------------------------*/
.servicios__titulo {
    padding: 10px;

}
.servicios__titulo__uno {
    color: rgba(169, 22, 189, 0.822);
    text-decoration: underline;
    font-size: 45px;
    text-align: center;
}
.servicios__quehacemos__1{
    color: rgb(109, 3, 122);
    text-decoration: underline;
    text-align: center;
    margin: 10px;
}
.lista__servicio__items {
    list-style: none;
}
.itemlist {
background-color:rgba(28, 145, 180, 0.651);
color: white;
border: solid 2px white;
list-style-type: none;
font-size: 20px;
text-align: start;
font-weight: bold;
padding: 10px;
margin: 25px;
transition: height , 3s;
}
.itemlist:hover {
    background-image: linear-gradient(to bottom right, rgb(62, 146, 179), rgb(147, 173, 184));
    height: 150px;
} 
.contenedor__video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.video {
    margin: 10px;
    align-self: center;
}
.informacion__mas{
    text-align: center;
    color: rgb(24, 24, 24);
    background-color: rgb(255, 255, 255);
    font-family:'Mukta', sans-serif;
}
/*----------------------------------Pagina Talleres--------------------*/
.contenedor__esi, .contenedor__salud, .contenedor__charla {
    display: grid;
    grid-template-columns: 0.20fr 0.40fr;
    grid-template-rows: auto 60px;
    grid-template-areas:
    "imagen esi"
    "imagen titulo"
    "imagen parafo";
    border: solid 2px skyblue;
}
.esi {
    width: 80%;
    height: 90%;
    grid-area: imagen;
    margin-top: 10px;
    margin-bottom: 20px;
}
.esi__list {
    margin-top: 30px;
    font-size: 50px;
    grid-area: esi;
}
.esi__sub {
    margin-bottom: 10px;
    grid-area: titulo;
    
}
.esi__par {
    margin: 10px;
    grid-area: parafo;
}
.salud {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 90%;
    grid-area: imagen;
}

.puzzleblue {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 85%;
    height: 90%;
    grid-area: imagen;
}
/*---------------------------------------FOOTER----------------------------*/
    footer {
    background: rgba(95, 188, 224, 0.527);
    height: 85%;
    }
.footer__list {
    list-style-type: none;
    margin-top: 5px;
    margin: 10px;
    color: rgb(90, 83, 83);
    padding: 10px;

}
.fblogo, .iglogo {
    width: 7%;
    height: 7%;
}
li {
    margin: 5px;
}

    /* -----------------------------------RESPONSIVE INICIO ---------------------*/
    /*-------------------------------------MOVIL-------------------------------*/

@media (min-width: 400px) and (max-width: 768px) {
    .carousel-inner .carousel-item img {
        height: 400px; }
        .titulo__carousel {
            padding-bottom: 150px;
            padding-top:  100px;
            font-size: 35px;}
        .bio__parrafo {
            font-size: 15px;
        }
        .contenedor__frase .contenedor__frase__img #fraseimg {
            padding-left: 10px;
            padding-right: 90px;
            margin-right: 20px;
            margin-left: 20px;
        }
}
@media screen and (max-width: 480px) {
    /*Talleres*/
    .moreinfo, .esi__par {
        font-size: 8px;
    }
    .esi__list {
        padding: 10px;
        font-size: 20px;
    }
    .esi__par {
        padding: 10px;
        margin-bottom: 20px;
    }
    .esi__sub {
        padding: 10px;
        font-size: 15px;
    }
    .esi__list, .esi__par, .esi__sub {
        width:100%;
        margin-left: 40px;
    }
    .esi, .salud, .puzzleblue {
        width: 160%;
        height: 80%;
        padding-right: 20px;
    }
    /*Nosotras*/
    .contenedornos__nombres {
        font-size: 8px;
        width: 50%;
    }


}
        /*--------------------------------------TABLET----------------------------
        @media screen and (max-width: 768px) {
            .contenedor {
                grid-template-columns: 1fr;
                grid-template-rows: 80px 80px 200px 80px 40px;
                grid-area: 
                "nav"
                "titulo"
                "parrafo"
                "none"
                "footer"
                ;
                grid-row-gap: 5px;
                
            }
            .nav__logo {
                width: 20%;
                height: 20%;
            }
            .contenedor__titulo {
                font-size: 30px;
            }
            .contenedor__titulo__dos {
                font-size: 15px;
                height: 50%;
            }
        }
/*---------------------------------RESPOSIVE NOSOTRAS ----------------------------*/
    /*-------------------------------------MOVIL-------------------------------*
    @media screen and (max-width: 480px) {
        .contenedornos {
            grid-template-columns: 1fr;
            grid-template-rows: 80px 160px 180px 150px 120px 70px;
            grid-area: 
            "nav"
            "titulonos"
            "parrafo"
            "fotos"
            "name"
            "footer"
            ;
            grid-row-gap: 5px;   
        }
        .contenedor__titulonos__uno {
            font-size: 24px;
        }
        .contenedor__titulonos {
            display: flex;
            flex-direction: flex-start;
            margin-top: 25px;
            margin-bottom: 20px;
        }
        .contenedor__parrafo {
            font-size: 15px;
            margin-top: 20px;
        }
        .contenedor__parrafonos {
            font-size: 10px;
        }
        .contenedorparrfonos__parrafo--italic {
            font-size: 15px;
            height: 20%;
        }
        .contenedornos__fotos {
            margin-top: 80px;
            height: 60%;
        }
    }
    /*--------------------------------------TABLET------------------------------*
    @media screen and (max-width: 768px) {
        .contenedornos {
            grid-template-columns: 1fr;
            grid-template-rows: 80px 300px 300px 150px 120px 40px;
            grid-area: 
            "nav"
            "titulonos"
            "parrafo"
            "fotos"
            "name"
            "footer"
            ;
            grid-row-gap: 5px;   
        }
        .contenedornos__fotos {
            margin-top: 80px;
        }
        .footer__list {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items:center;
            justify-content: space-around;
            list-style-type: none;
            color: rgb(255, 255, 255);
            font-size: 13px;
            padding: 3px 5px;
        }
    }
*/