footer {
    background: rgba(95, 188, 224, 0.527);
    height: 85%;
    .footer__list {
        list-style-type: none;
        margin-top: 5px;
        margin: 10px;
        color: rgb(90, 83, 83);
        padding: 10px;
    }
    .fblogo, .iglogo {
        width: 7%;
        height: 7%;
    }
    li {
        margin: 5px;
    }
    }