.navbar{
    text-align: center;
    font-size: 18px;
}
.nav-link {
    margin-right: 50px;
}
.logo {
    width:30%;
    height:30%;
    display: block;
    margin-left: auto;
        margin-right: auto;
        transition: all 2s;
}
.logo:hover {
    width: 40%;
    height: 40%;
}
