
/*---------------------------------TABLET*-------------------*/

@media screen and (max-width: 768px) {
    /*Pagina index*/ /*Carousel principañ*/
.carousel {
    height: 90%;
    width: 100%;
.carousel-item {
    height: 450px; 
    .carousel-caption {
        height: 80%;
        .titulo__carousel{
            position: relative;
            top:70px;
            bottom: 20px;
        padding-bottom: 10px;
        font-size: 50px;
    }
}
    .w-100 {
        height:100%;
        width: 60%;
    }
      /* Boton ver mas */
    .btn-light {
        position: relative;
        top: 150px;
        bottom: 10px;
        height: auto;
        width: 30%;
        font-size: 17px;
    }
}}
        .contenedor__biocontenido {
            .bio__parrafo  {
                font-size: 17px;
                text-align: justify;
            }
            
        }
        /*Biografia*/
        .contenedor__biosub{
            .bio__frase {
                text-align: right;
            }
        }
            /*Carousel biografia*/
            .carousel-fade {
                display: block;
                position: relative;
                left: 45px;
                .carousel-item {
                    height: 50%;
                #fraseimg {
                    display: block;
                    position: relative;
                    right: 50px;
                    height: 140%;
                } }
            }
        /*Boton mas informacion*/
        .contenedor__informacion .moreinfo {
            text-align: center;
            font-size: 12px;
            padding: 5px;
        }

/*Pagina  talleres*/
.contenedor__imagenes {
.esi, .salud, .puzzleblue {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 15%;
}
}
.contenedor__talleres{
.contenedor__texto {
    border: solid 1px skyblue;
    .taller__title {
        font-size: 35px;
    }
    .taller__sub {
        font-size: 22px;
    }
    .taller__par {
        font-size: 15px;
    }
}
}

}
/*-----------------------------MOBILE-------------------------*/
@media screen and (max-width: 480px) {
    /*Pagina INICIO*/
    /*Logo*/ 
    .logo {
        width: 25%;
        margin-left: 125px;
    }
    /*Carousel*/
    .carousel {
        height: 70%;
        width: 100%;
    .carousel-item {
        position: relative;
        bottom: 20px;
        height: 300px; 
        .carousel-caption {
            height: 80%;
            .titulo__carousel{
                position: relative;
                bottom: 20px;
            padding-bottom: 20px;
            font-size: 27px;
        }
    }
        .w-100 {
            height: 100%;
            width: 100%;
            padding-bottom: 100px;
        }
          /* Boton ver mas */
        .btn-light {
            position: relative;
            top: 70px;
            bottom: 20px;
            margin-bottom: 5px;
            height: auto;
            width: 30%;
            font-size: 10px;
        }
    }}
    /*Parrafo*/
    .contenedor__titulo__2 {.contenedor__titulo__2--white {
        z-index: 10;
        font-size: 20px;
    }}
    /*Boton puzzle*/
    .contenedor__icon .icon {
        width: 80%;
        height: 50%;
    }
    .icon {
        width: 100%;
    }
    /*Biografia*/
    .contenedor__bio {
        .bio__titulo{
        font-size: 30px;
    }
    }
    .contenedor__biosub {
        .bio__sub{
            text-align: center;
            font-size: 20px;
        }
        .bio__frase {
            display: none;
        }
    }
.contenedor__biocontenido {
    .bio__parrafo {
    font-size: 15px;
    }
.bio__imagen {
    display: none;
    }
    .carousel {
        display: none;
        .carousel-inner {
            display: none;
            }
        }
}
/*MAS INFORMACION button*/
.contenedor__informacion .moreinfo {
    font-size: 11px;
    width: 30%;
    padding: 10px;
}
/*FIN DE PAGINA INICIO*/

/*Pagina Nosotras*/ 
.contenedornos__nombres  {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px;
    width: 50%;
    height: 50%;
}
.contenedor__parafo .bio {
    margin-left: 0px;
        text-align: justify;
        font-size: 15px;
        width: 120%;
}
.contenedor__icon {
    display: none;
}
    /*Pagina Contacto*/
    .fondo__form .texto__formulario {
        font-size: 30px;
        width: 90%;
        margin-top: 10px;
    }
    .fondo__form .formulario {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .form__boton {
        width: 30%;
    }
    /*Pagina Servicios */
        .servicios__titulo {
        font-size: 30px;
        }
    .servicios__titulo__contenido{
        font-size: 20px;
    }
    div .servicios__charla {
        font-size: 15px;
    }
    .video {
        width: auto;
    }
    /*Pagina Talleres*/
    .moreinfo {
        font-size: 10px;
    }
    .contenedor__talleres {
    height: 20%;
    padding: 5px;
    .contenedor__texto {
        background: rgb(236, 183, 236);
        margin-bottom: 10px;
        border: solid 2px skyblue;;
        .taller__title {
            font-size: 30px;
        }
        .taller__sub {
            font-size: 20px;
        }
        .taller__par {
        font-size: 13px;
            margin-bottom: 20px;
        }
    } 
    } 
    .contenedor__imagenes  {
        .esi, .salud, .puzzleblue {
        display: none;
    }
    }
    /*FOOTER*/
        /*Links utiles*/
            .footer__lista1 {
        margin-right: 20px;
    }
    /*Logos*/
    .lista__logos {
    .footer__logos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        .linklogos {
            margin-right: 10px;
        }
    }
    .footer__tiulo__logos {
        text-align: center;
        margin: 5px;
        font-size: 18px;
    }
}
    /*Terminos y condiciones*/
    .footer__lista2 li {
        text-align: center;
    }
    .lista__taller, .lista__logos, .lista__derechos {
        border-top: solid 2px white;
    }
    .lista__derechos .footer__lista2 {
        font-size: 13px;
        margin-right: 20px;
    }
}

