.contenedor__titulonos {
    background: $back-ground;
    font-family: $title-font;
    
    .contenedor__titulonos__uno {
        margin-top: 5px;
        text-align: center;
        color: $cool-black;
        font-family: 'Mukta', sans-serif;
    }
    .contenedor__link {
        color:rgb(173, 39, 190)
    }
}
.contenedor__parrafonos {
    color: $cool-black;
    text-align: center;
    font-size: 20px;
    background: $back-ground;
    .contenedorparrfonos__parrafo--italic {
        font-style: italic;
        font-size: 18px;
        color: rgb(0, 0, 0);
        
    }
}
.contenedornos__fotos {
    display: flex;
    height: 100%;
    background: $back-ground;
    .contenedornos__fotomaria, .contenedornos__fotogabriela, .contenedornos__fotolozano {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 100%;
        transition: all 1s;
    } 
}
.contenedornos__fotomaria:hover{
    width: 51%;
    height:101% ;
}
.contenedornos__fotogabriela:hover {
    @extend .contenedornos__fotomaria:hover;
}
.contenedornos__fotolozano:hover {
    @extend .contenedornos__fotomaria:hover;
}
.contenedornos__nombres {
    text-align: center;
    margin: 5px;
    .maria, .lozano, .mariana {
        border-radius: 10px;
        background: rgb(194, 142, 194);
        margin:10px;
        width: 100%;
    }
    }
.contenedor__parafo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .bio {
        width: 30%;
        margin-left: 10px;
        background:powderblue;
        text-align:justify;
        padding: 20px;
        border-radius: 10px;
        transition: 1s all;
        &:hover {
            background: rgb(194, 142, 194);
        }
}
}