    /*Titulo principal*/
    .servicios__titulo {
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-weight: bold;
        color:#2a0d6e;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: solid  3px #c24772;
    }
/*Subtitulo de servicios*/
.servicios__titulo__contenido {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
/*Descripcion de servicios*/
.servicios__charla {
    border:solid 2px #CFA5B4;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 40%;
    height: 100%;
    font-size: 20px;
    border-radius: 10px;
    background: #eccef1bb;
    &:hover {
        color: rgb(141, 37, 63);
    }
}
.servicios__entrevistas {
    @extend .servicios__charla;
}
/*Video informativo*/
.servicios__titulo__video {
    @extend .servicios__titulo__contenido;
    margin-bottom: 20px;
}
    .contenedor__video {
        vertical-align: middle;
        .video {
            background:  #CFA5B4;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border: solid 5px #C98BB9;
            margin-bottom: 30px;
        }
    }
/*Boton mas informacion*/
    .btn, .moreinfo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
