/*Variables*/
$title-font: 'Mukta', sans-serif;
$cool-black: #000000;
$back-ground:rgba(185, 120, 185, 0.678);
$color: #846B8A;
$purpura: purple;
$gris: rgb(92, 90, 90);
/*---------------------------MAPS---------------------*/
$botones: (
    rosabtn:#F7D4BC,
    violetbtn:#846B8A
);
@each $boton,$color in $botones {
    .btn--#{$boton} {
        background-color: $color;
    }
}
/*-----------------MIXIN Boton Mas informacion--------------------*/
@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}
.btn {
    @include sizes(15%, 40%)
}